Connected Services/RTA/TeleoptiRtaService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Teleopti.Ccc.Rta.WebService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Teleopti.Ccc.Rta.WebService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfExternalUserState">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ExternalUserState" nillable="true" type="tns:ExternalUserState" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfExternalUserState" nillable="true" type="tns:ArrayOfExternalUserState" />
  <xs:complexType name="ExternalUserState">
    <xs:sequence>
      <xs:element minOccurs="0" name="BatchId" type="xs:dateTime" />
      <xs:element minOccurs="0" name="IsLoggedOn" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsSnapshot" type="xs:boolean" />
      <xs:element minOccurs="0" name="SecondsInState" type="xs:int" />
      <xs:element minOccurs="0" name="StateCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StateDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Timestamp" type="xs:dateTime" />
      <xs:element minOccurs="0" name="UserCode" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ExternalUserState" nillable="true" type="tns:ExternalUserState" />
</xs:schema>