Connected Services/RTA/TeleoptiRtaService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/TeleoptiWFM/RTA/TeleoptiRtaService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Teleopti.Ccc.Rta.WebService" />
  <xs:import schemaLocation="http://localhost/TeleoptiWFM/RTA/TeleoptiRtaService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:element name="SaveExternalUserState">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="authenticationKey" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="stateCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="stateDescription" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="isLoggedOn" type="xs:boolean" />
        <xs:element minOccurs="0" name="secondsInState" type="xs:int" />
        <xs:element minOccurs="0" name="timestamp" type="xs:dateTime" />
        <xs:element minOccurs="0" name="platformTypeId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sourceId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="batchId" type="xs:dateTime" />
        <xs:element minOccurs="0" name="isSnapshot" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveExternalUserStateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveExternalUserStateResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveBatchExternalUserState">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="authenticationKey" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="platformTypeId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sourceId" nillable="true" type="xs:string" />
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Teleopti.Ccc.Rta.WebService" minOccurs="0" name="externalUserStateBatch" nillable="true" type="q1:ArrayOfExternalUserState" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveBatchExternalUserStateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveBatchExternalUserStateResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUpdatedScheduleChange">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="personId" type="q2:guid" />
        <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="businessUnitId" type="q3:guid" />
        <xs:element minOccurs="0" name="timestamp" type="xs:dateTime" />
        <xs:element minOccurs="0" name="tenant" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUpdatedScheduleChangeResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>